{% load static %}
<div class="socials">
    <div class="socials__box">
        <a href="https://github.com/savelevMatthew/">
            <img class="socials__icon" src="{% static 'Booking/images/footer/github.svg' %}" alt="github icon">
        </a>
    </div>
    <div class="socials__box">
        <a href="http://linkedin.com/in/savelevmatthew/">
            <img class="socials__icon" src="{% static 'Booking/images/footer/linkedin.svg' %}" alt="linkedin icon">
        </a>
    </div>
    <div class="socials__box">
        <a href="https://www.instagram.com/savmat2/">
            <img class="socials__icon" src="{% static 'Booking/images/footer/instagram.svg' %}" alt="instagram icon">
        </a>
    </div>
    <div class="socials__box">
        <div class="socials__box">
        <a href="https://t.me/velevass">
            <img class="socials__icon" src="{% static 'Booking/images/footer/telegram.svg' %}" alt="telegram icon">
        </a>
    </div>
    </div>
</div>